**/desktop.ini

HW/*/History
Memoria/textidote.jar-0.9.jar
**/desktop.ini
**/.metadata
**/.settings
SW/**/.metadata/**
SW/.metadata/**

SW/Inverter/Core/Inc/Pergamon_float.h
SW/Inverter/Core/Src/Pergamon_float.c

Memoria/pandoc.exe
Memoria/wiki_update.py
wiki_update.py
